@import url("https://fonts.googleapis.com/css2?family=VT323&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@400;700&display=swap");
@import "tailwindcss";
/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "daisyui" {
  themes: light --default, retro;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Use VT323 for headings and .font-mono utility */
h1,
h2,
h3,
h4,
h5,
h6,
.font-mono {
  font-family: "VT323", monospace;
}

body,
p,
a,
li,
ul,
ol,
span,
div,
input,
textarea,
button {
  font-family: "Mozilla Headline", system-ui, sans-serif;
}

#title {
  font-family: "VT323", monospace;
  font-size: 2rem;
  font-weight: 700;
}
